.social a:before{display:inline-block;font-family:'FontAwesome';font-style:normal;font-weight:400}
.social .facebook a:before{content:"\f082"}
.social .facebook-f a:before{content:"\f09a"}
.social .twitter a:before{content:"\f099"}
.social .rss a:before{content:"\f09e";font-family:'FontAwesome';font-weight:900}
.social .youtube a:before{content:"\f167"}
.social .linkedin a:before{content:"\f0e1"}
.social .instagram a:before{content:"\f16d"}
.social .pinterest a:before{content:"\f0d2"}
.social .pinterest-p a:before{content:"\f231"}
.social .whatsapp a:before{content:"\f232"}
.social .reddit a:before{content:"\f281"}
.social .twitch a:before{content:"\f1e8"}
.social .flipboard a:before{content:"\f44d"}
.social .share a:before{content:"\f064";font-family:'FontAwesome';font-weight:900}
.social .email a:before{content:"\f0e0";font-family:'FontAwesome';font-weight:400}
.social .external-link a:before{content:"\f35d";font-family:'FontAwesome';font-weight:900}
.social-bg .facebook a,.social-bg .facebook-f a,.social-bg-hover .facebook a:hover,.social-bg-hover .facebook-f a:hover{background-color:#3b5999}
.social-bg .twitter a,.social-bg-hover .twitter a:hover{background-color:#00acee}
.social-bg .youtube a,.social-bg-hover .youtube a:hover{background-color:#f50000}
.social-bg .instagram a,.social-bg-hover .instagram a:hover{background:linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4)}
.social-bg .pinterest a,.social-bg .pinterest-p a,.social-bg-hover .pinterest a:hover,.social-bg-hover .pinterest-p a:hover{background-color:#ca2127}
.social-bg .linkedin a,.social-bg-hover .linkedin a:hover{background-color:#0077b5}
.social-bg .twitch a,.social-bg-hover .twitch a:hover{background-color:#6441a5}
.social-bg .rss a,.social-bg-hover .rss a:hover{background-color:#ffc200}
.social-bg .flipboard a,.social-bg-hover .flipboard a:hover{background-color:#f52828}
.social-bg .share a,.social-bg-hover .share a:hover{background-color:#383838}
.social-bg .email a,.social-bg-hover .email a:hover{background-color:#888}
.social-bg .external-link a,.social-bg-hover .external-link a:hover{background-color:#3949a3}
.social-color .facebook a,.social-color .facebook-f a,.social-color-hover .facebook a:hover,.social-color-hover .facebook-f a:hover{color:#3b5999}
.social-color .twitter a,.social-color-hover .twitter a:hover{color:#00acee}
.social-color .youtube a,.social-color-hover .youtube a:hover{color:#f50000}
.social-color .instagram a,.social-color-hover .instagram a:hover{color:#dd277b}
.social-color .pinterest a,.social-color .pinterest-p a,.social-color-hover .pinterest a:hover,.social-color-hover .pinterest-p a:hover{color:#ca2127}
.social-color .linkedin a,.social-color-hover .linkedin a:hover{color:#0077b5}
.social-color .twitch a,.social-color-hover .twitch a:hover{color:#6441a5}
.social-color .rss a,.social-color-hover .rss a:hover{color:#ffc200}
.social-bg .whatsapp a,.social-bg-hover .whatsapp a:hover{background-color:#3fbb50}
.social-bg .reddit a,.social-bg-hover .reddit a:hover{background-color:#ff4500}
.social-color .flipboard a,.social-color-hover .flipboard a:hover{color:#f52828}
.social-color .share a,.social-color-hover .share a:hover{color:#383838}
.social-color .email a,.social-color-hover .email a:hover{color:#888}
.social-color .external-link a,.social-color-hover .external-link a:hover{color:#3949a3}
.social-mobile{position:relative;float:left;width:100%;margin:0}
.social-mobile ul{display:block;text-align:center;padding:20px;margin:0}
.social-mobile ul li{display:inline-block;margin:0 5px}
.social-mobile ul li a{display:block;font-size:15px;color:#ffffff;padding:0 5px}
.social-mobile ul li a:hover{color:#3f51b5}
